<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright ©2023 by Blaze Type. All rights reserved.</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Server Mono</string>
    <key>italicAngle</key>
    <integer>-10</integer>
    <key>openTypeHeadCreated</key>
    <string>2024/06/19 09:45:36</string>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Blaze Type, Tim Vanhille, Matthieu Salvaggio</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://blazetype.eu</string>
    <key>openTypeNameManufacturer</key>
    <string>http://blazetype.eu</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://blazetype.eu</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular Slanted</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>BLZT</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>750</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>250</integer>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.059</real>
    <key>postscriptBlueShift</key>
    <integer>8</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>510</integer>
      <integer>700</integer>
      <integer>710</integer>
    </array>
    <key>postscriptFontName</key>
    <string>ServerMono-RegularSlanted</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-210</integer>
      <integer>-200</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>86</integer>
      <integer>90</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>96</integer>
      <integer>102</integer>
    </array>
    <key>styleMapFamilyName</key>
    <string>Server Mono</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Regular Slanted</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
