.root {
  padding: 24px;
  max-width: 768px;
}

.divider {
  margin: 24px auto 24px auto;
  width: 100%;
  display: block;
  height: 1px;
  flex-shrink: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(to right, var(--theme-background), var(--theme-border), var(--theme-background));
}
