@font-face {
  font-family: 'Mono';
  src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/0a26b101-f97b-41c3-a0cd-205358c7b3f7.woff') format('woff');
}

@font-face {
  font-family: 'MonoSlanted';
  src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/3bb6457d-ca97-4038-87e4-f1333e0656e9.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body.theme-light {
  --theme-background: var(--color-white);
  --theme-background-overlay: var(--color-white-4);
  --theme-background-box-top: rgba(245, 245, 245, 1);
  --theme-background-box-front: rgba(215, 215, 215, 1);
  --theme-background-box-side: rgba(235, 235, 235, 1);
  --theme-foreground: var(--color-black-100-1);
  --theme-foreground-secondary: var(--color-black-100-2);
  --theme-text: var(--color-black-100);
  --theme-border: var(--color-gray-20);
  --theme-border-box: var(--color-gray-20);
  --theme-border-subdued: var(--color-gray-40-2);
  --theme-button: var(--color-black-100);
  --theme-button-text: var(--color-white);
  --theme-primary: var(--color-blue-60);
  --theme-input-active: var(--color-blue-20-5);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);

  --theme-box-shadow-modal: inset 0 0 0 1px var(--theme-border), 0 0 1px 4px rgba(0, 0, 0, 0.02);
  --theme-box-shadow-button: 0 1px 2px rgba(0, 0, 0, 0.15);
  --theme-box-shadow-button-hover: 0 5px 15px rgba(0, 0, 0, 0.3);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-foreground);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-foreground-secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-foreground-secondary);
  }
}

body.theme-daybreak {
  --theme-background: var(--color-black-daybreak-100);
  --theme-background-overlay: var(--color-daybreak-100-4);
  --theme-background-box-top: var(--color-gray-70);
  --theme-background-box-front: var(--color-gray-100);
  --theme-background-box-side: var(--color-gray-90);
  --theme-foreground: var(--color-daybreak-70);
  --theme-foreground-secondary: var(--color-daybreak-60);
  --theme-text: var(--color-daybreak);
  --theme-border: var(--color-daybreak-90);
  --theme-border-box: var(--color-daybreak-80);
  --theme-border-subdued: var(--color-daybreak-70-3);
  --theme-button: var(--color-daybreak);
  --theme-button-text: var(--color-black-daybreak-100);
  --theme-primary: var(--color-daybreak-20);
  --theme-input-active: var(--color-daybreak-4);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);

  --theme-box-shadow-modal: inset 0 0 0 1px var(--color-daybreak-90);
  --theme-box-shadow-button: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-box-shadow-button-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-foreground);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-foreground-secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-foreground-secondary);
  }
}

body.theme-dark {
  --theme-background: var(--color-black-100);
  --theme-background-overlay: var(--color-black-100-4);
  --theme-background-box-top: var(--color-gray-70);
  --theme-background-box-front: var(--color-gray-100);
  --theme-background-box-side: var(--color-gray-90);
  --theme-foreground: var(--color-white-1);
  --theme-foreground-secondary: var(--color-white-2);
  --theme-text: var(--color-white);
  --theme-border: var(--color-gray-90);
  --theme-border-box: var(--color-gray-80);
  --theme-border-subdued: var(--color-gray-70-3);
  --theme-button: var(--color-white);
  --theme-button-text: var(--color-black-100);
  --theme-primary: var(--color-gold-30);
  --theme-input-active: var(--color-blue-20-5);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);

  --theme-box-shadow-modal: inset 0 0 0 1px var(--color-gray-90);
  --theme-box-shadow-button: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-box-shadow-button-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-foreground);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-foreground-secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-foreground-secondary);
  }
}

body.theme-blue {
  --theme-background: var(--color-blue-80);
  --theme-background-overlay: var(--color-blue-80-4);
  --theme-background-box-top: #6d4c41;
  --theme-background-box-front: #3e2723;
  --theme-background-box-side: #4e342e;
  --theme-foreground: var(--color-blue-20-1);
  --theme-foreground-secondary: var(--color-blue-20-2);
  --theme-text: var(--color-blue-10);
  --theme-border: var(--color-blue-70);
  --theme-border-box: var(--color-gray-80);
  --theme-border-subdued: var(--color-blue-60-2);
  --theme-button: var(--color-blue-70);
  --theme-button-text: var(--color-blue-10);
  --theme-primary: var(--color-gold-30);
  --theme-input-active: var(--color-blue-20-5);
  --theme-success: var(--color-green-60);
  --theme-success-subdued: var(--color-green-60-3);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);

  --theme-box-shadow-modal: inset 0 0 0 1px var(--theme-border);
  --theme-box-shadow-button: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-box-shadow-button-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-foreground);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-foreground-secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-foreground-secondary);
  }
}

body.theme-neon-green {
  --theme-background: var(--color-neon-green-100);
  --theme-background-overlay: var(--color-black-100-4);
  --theme-background-box-top: var(--color-gray-70);
  --theme-background-box-front: var(--color-gray-100);
  --theme-background-box-side: var(--color-gray-90);
  --theme-foreground: var(--color-neon-green-80-1);
  --theme-foreground-secondary: var(--color-neon-green-80-2);
  --theme-text: var(--color-neon-green-70);
  --theme-border: var(--color-neon-green-90);
  --theme-border-box: var(--color-gray-80);
  --theme-border-subdued: var(--color-neon-green-70-3);
  --theme-button: var(--color-neon-green-70);
  --theme-button-text: var(--color-black-100);
  --theme-primary: var(--color-white);
  --theme-input-active: var(--color-white-2);
  --theme-success: var(--color-white);
  --theme-success-subdued: var(--color-white-2);
  --theme-error: var(--color-red-60);
  --theme-error-subdued: var(--color-red-60-3);

  --theme-box-shadow-modal: inset 0 0 0 1px var(--theme-border);
  --theme-box-shadow-button: 0 0 0 rgba(0, 0, 0, 0.15);
  --theme-box-shadow-button-hover: 0 0px 0px 4px rgba(255, 255, 255, 0.2);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: var(--theme-foreground);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--theme-foreground-secondary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-foreground-secondary);
  }
}

#__next {
}

html,
body {
  --theme-graph-positive-subdued: rgba(61, 219, 217, 0.01);
  --theme-graph-positive: rgba(61, 219, 217, 1);
  --theme-graph-netural: var(--theme-foreground);
  --theme-graph-negative: rgba(218, 30, 40, 1);
  --theme-graph-negative-subdued: rgba(218, 30, 40, 0.01);

  --color-black-daybreak-100: rgba(4, 2, 0, 1);
  --color-black-daybreak-100-4: rgba(4, 2, 0, 0.4);
  --color-black-100: rgba(0, 0, 0, 1);
  --color-black-100-4: rgba(0, 0, 0, 0.4);
  --color-black-100-2: rgba(0, 0, 0, 0.2);
  --color-black-100-1: rgba(0, 0, 0, 0.1);
  --color-gray-100: rgba(22, 22, 22, 1);
  --color-gray-90: rgba(38, 38, 38, 1);
  --color-gray-90-6: rgba(38, 38, 38, 0.6);
  --color-gray-80: rgba(57, 57, 57, 1);
  --color-gray-70: rgba(82, 82, 82, 1);
  --color-gray-70-3: rgba(82, 82, 82, 0.3);
  --color-gray-60: rgba(111, 111, 111, 1);
  --color-gray-50: rgba(141, 141, 141, 1);
  --color-gray-40: rgba(168, 168, 168, 1);
  --color-gray-40-2: rgba(168, 168, 168, 0.2);
  --color-gray-30: rgba(198, 198, 198, 1);
  --color-gray-20: rgba(224, 224, 224, 1);
  --color-gray-10: rgba(244, 244, 244, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-4: rgba(255, 255, 255, 0.4);
  --color-white-2: rgba(255, 255, 255, 0.2);
  --color-white-1: rgba(255, 255, 255, 0.1);

  --color-red-60: rgba(218, 30, 40, 1);
  --color-red-60-3: rgba(218, 30, 40, 0.3);

  --color-green-60: rgba(25, 128, 56, 1);
  --color-green-60-3: rgba(25, 128, 56, 0.3);

  --color-gold-30: rgba(241, 194, 27, 1);

  --color-daybreak-100: rgba(63, 26, 0, 1);
  --color-daybreak-100-4: rgba(63, 26, 0, 0.4);
  --color-daybreak-90: rgba(82, 34, 0, 1);
  --color-daybreak-80: rgba(102, 42, 0, 1);
  --color-daybreak-70: rgba(121, 50, 0, 1);
  --color-daybreak-70-3: rgba(121, 50, 0, 0.3);
  --color-daybreak-60: rgba(141, 59, 0, 1);
  --color-daybreak-50: rgba(161, 67, 0, 1);
  --color-daybreak-40: rgba(180, 75, 0, 1);
  --color-daybreak-40-2: rgba(180, 75, 0, 0.2);
  --color-daybreak-30: rgba(200, 83, 0, 1);
  --color-daybreak-20: rgba(220, 91, 0, 1);
  --color-daybreak-10: rgba(239, 99, 0, 1);
  --color-daybreak: rgba(255, 108, 4, 1);
  --color-daybreak-4: rgba(255, 108, 4, 0.4);
  --color-daybreak-2: rgba(255, 108, 4, 0.2);
  --color-daybreak-1: rgba(255, 108, 4, 0.1);

  --color-neon-green-100: rgba(10, 44, 2, 1);
  --color-neon-green-100-4: rgba(10, 44, 2, 0.4);
  --color-neon-green-100-2: rgba(10, 44, 2, 0.2);
  --color-neon-green-100-1: rgba(10, 44, 2, 0.1);
  --color-neon-green-90: rgba(16, 107, 2, 1);
  --color-neon-green-80: rgba(0 159, 0, 1);
  --color-neon-green-80-4: rgba(0, 159, 0, 0.4);
  --color-neon-green-80-2: rgba(0 159, 0, 0.2);
  --color-neon-green-80-1: rgba(0 159, 0, 0.1);
  --color-neon-green-70: rgba(0, 207, 0, 1);
  --color-neon-green-70-7: rgba(0, 207, 0, 0.7);
  --color-neon-green-70-3: rgba(0, 207, 0, 0.3);
  --color-neon-green-50: rgba(92, 255, 59, 1);
  --color-neon-green-40: rgba(138, 255, 104, 1);
  --color-neon-green-30: rgba(178, 255, 148, 1);
  --color-neon-green-20: rgba(213, 255, 191, 1);
  --color-neon-green-10: rgba(242, 255, 233, 1);

  --color-blue-100: rgba(0, 17, 65, 1);
  --color-blue-90: rgba(0, 29, 108, 1);
  --color-blue-80: rgba(0, 45, 156, 1);
  --color-blue-80-4: rgba(0, 45, 156, 0.4);
  --color-blue-70: rgba(0, 67, 206, 1);
  --color-blue-60: rgba(15, 98, 254, 1);
  --color-blue-60-2: rgba(15, 98, 254, 0.2);
  --color-blue-50: rgba(69, 137, 255, 1);
  --color-blue-40: rgba(120, 169, 255, 1);
  --color-blue-30: rgba(166, 200, 255, 1);
  --color-blue-20: rgba(208, 226, 255, 1);
  --color-blue-20-1: rgba(208, 226, 255, 0.1);
  --color-blue-20-2: rgba(208, 226, 255, 0.2);
  --color-blue-20-5: rgba(208, 226, 255, 0.5);
  --color-blue-10: rgba(237, 245, 255, 1);

  --type-scale-1: 3.815rem;
  --type-scale-2: 3.052rem;
  --type-scale-3: 2.441rem;
  --type-scale-4: 1.953rem;
  --type-scale-5: 1.563rem;
  --type-scale-6: 1.25rem;
  --type-scale-7: 1rem;

  --type-scale-fixed-large: 20px;
  --type-scale-fixed-medium: 16px;
  --type-scale-fixed-small: 14px;
  --type-scale-fixed-tiny: 12px;
  --type-scale-fixed-label: 10px;

  --font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  --font-family-mono: 'Mono', Consolas, monaco, monospace;
  --font-family-serif: Georgia, Times New Roman, serif;

  font-family: var(--font-family-mono);
  background: var(--theme-background);
  color: var(--theme-text);
  font-variant-numeric: tabular-nums;

  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 12px;
  }

  --theme-border: var(--color-gray-20);
  --theme-primary: var(--color-blue-60);
  --theme-text: var(--color-black-100);
}
