.root {
  position: relative;
  font-size: var(--type-scale-7);
}

.title {
  font-weight: 600;
}

.signature {
  border: 1px solid var(--theme-border);
  margin-top: 8px;
  padding: 4px 4px 88px 4px;
}

.row {
  margin-top: 2px;
  padding: 4px;
  background: var(--theme-foreground);
}

.date {
  margin-top: 2px;
  padding: 4px 4px 24px 4px;
  border: 1px solid var(--theme-border);
}
