.root {
  background-color: var(--theme-background);
  color: var(--theme-text);
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 4px;
  line-height: var(--type-scale-fixed-label);
  outline: 0;
  padding: 4px 8px 2px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--type-scale-fixed-label);
  letter-spacing: 0.2px;
  font-weight: 600;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  border: 1px solid var(--theme-border);
  transition: 200ms ease all;
  transform: scale(1);
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: var(--theme-text);
  }

  &:hover {
    box-shadow: var(--theme-box-shadow-button-hover);
  }
}
