.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 var(--theme-border);
  min-height: 48px;
}

.left {
  min-height: 48px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 0 12px;
  -webkit-appearance: none;
  transition: 200ms ease width;
}

.item {
  font-size: var(--type-scale-fixed-tiny);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 0 12px 0 12px;
  cursor: pointer;
  user-select: none;
  transition: 200ms ease all;
  text-decoration: none;
  color: var(--theme-text);

  &:visited {
    color: var(--theme-text);
  }

  &:hover {
    opacity: 0.8;
  }
}
