.root {
  position: relative;
  overflow: hidden;
}

.svg {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.gradient {
  transform: translateY(-90%);
  width: 100%;
  height: 300px;
  background: radial-gradient(circle, var(--theme-text) 0%, transparent 70%);
  filter: blur(80px);
  pointer-events: none;
}
