.box {
  position: absolute;
  background-color: var(--theme-background);
  box-shadow: var(--theme-box-shadow-modal);
  overflow: hidden;
}

.header {
  cursor: move;
  background: var(--theme-foreground);
  padding: 2px 4px 2px 4px;
  color: var(--theme-text);
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--type-scale-fixed-label);
  font-family: var(--font-family-mono);
  border-bottom: 1px solid var(--theme-border);
  user-select: none;
}

.handle {
  position: absolute;
  z-index: 200;
}

.top {
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: ns-resize;
  width: 100%;
  border-top: 1px solid var(--theme-border);
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 6px;
  cursor: ew-resize;
  border-right: 1px solid var(--theme-border);
}

.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  cursor: ns-resize;
  border-bottom: 1px solid var(--theme-border);
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 6px;
  cursor: ew-resize;
  border-left: 1px solid var(--theme-border);
}
