.root {
  min-height: calc(100dvh - 48px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.top {
  flex-shrink: 0;
  width: 100%;
}

.middle {
  height: 100%;
  min-height: 10%;
  width: 100%;
  padding: 24px;
}

.bottom {
  flex-shrink: 0;
  width: 100%;
}
