.root {
  min-height: calc(50vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 24px 64px 24px;
  width: 100%;
  text-align: center;
}
